<div class="container mt-4">
  <h2>Đăng khóa học</h2>
  <form action="/courses/store" method="POST">
    <div class="mb-3">
      <label for="courseName" class="form-label">Tên khóa học</label>
      <input type="text" class="form-control" id="courseName" name="name" required/>
    </div>
    <div class="mb-3">
      <label for="courseDes" class="form-label">Mô tả khóa học</label>
      <textarea class="form-control" name="description" id="courseDes" rows="5" required></textarea>
    </div>
    <div class="mb-3">
      <label for="courseId" class="form-label">ID khóa học</label>
      <input type="text" class="form-control" id="courseId" name="videoId" required/>
    </div>
    <div class="d-grid gap-2 mt-4 mb-4">
      <button type="submit" class="btn btn-lg btn-primary">Thêm</button>
    </div>
  </form>
</div>
