h1 {
  font-size: 50px;
  color: #b11010; }
.user-avatar {
  width: 80px;
  height: auto;
  margin-right: 5px; }

a {
  text-decoration: none;
  color: #000; }

.checkbox-select-all-options {
  width: 200px;
  margin: 0px 20px; }
